
// Post SCSS
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url("https://fonts.gstatic.com/s/sourcesanspro/v11/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7g.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

nav.fixed-top {
 
  background:$backgroundcolor;
  color: white !important;
  ul.navbar-nav a.dropdown-toggle {
    color: white !important;
  }
  div.popover-region-toggle .fa {
    color: white !important;
  }
}

span.site-name {
  color: white !important;
}

span.login a {
  color: white !important;
}

button[data-preference="drawer-open-nav"] {
  color: white !important;
  background-color: rgba(85,114,161, 0);
  border: rgba(255,255,255, .5);
}

button[data-preference="drawer-open-nav"]:hover {
  background-color: rgba(85,114,161, 0.9);
}

#page-footer{
  background: #e2e2e2 !important;
  color: black !important;
}

#page-footer a {
  color: #223657 !important;
}

a:link {
  text-decoration: none !important;
}

#dropdown-99 {
  color: white !important;
}

#action-menu-99-menu {
  a {
    color: rgb(51, 51, 51) !important;
    outline-color: rgb(51, 51, 51) !important;
    font-size: 14px !important;
    font-family: "Source Sans Pro", Helvetica, sans-serif !important;
    line-height: 20px !important;
    padding: 3px 15px 3px 10px !important;
    text-align: left !important;
    box-sizing: border-box !important;
  }
  li {
    list-style-type: none !important;
  }
  z-index: 1000 !important;
  position: absolute !important;

  .divider {
    height: 1px;
    margin: 9px 0 !important;
    overflow: hidden;
    background-color: #e5e5e5; }
}

#daicoursesearch {

  .searchContainer {
    height: 2.5em !important;
    display: inline-flex;
    flex: 1 1 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 300px !important;
  }

  .searchIcon {
    padding: 0.3rem;
  }

  .searchBox {
    border: 0;
    flex: 1;
  }

  .searchButton {
    background: white;
    border: 0;
    color: rgba(85,114,161,.9);
    padding: 0.3rem;
    border-radius: 0;
  }

}

.in-nav {
  padding-top: 0.25rem;
}

span.login {
  display: none;
}

a.login-link {
  color: white !important;
}

.courseimage {
  img {
    max-height: 400px !important;
    max-width: 400px !important;
  }
}