<div class="action-menu moodle-actionmenu nowrap-items d-inline" id="action-idai-dropdown"
     data-enhance="moodle-core-actionmenu">
    <div class="menubar d-flex " id="action-menu-99-menubar" role="menubar">
        <div class="action-menu-trigger">
            <div class="dropdown" id="idai-menu">
                <a href="#" class=" dropdown-toggle nav-link" id="dropdown-99" title="" role="menuitem" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="./theme/dai/pix/kleinergreif-30.png" id="brand-img">
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu" id="action-menu-99-menu"
                     data-rel="menu-content" aria-labelledby="action-menu-toggle-1" role="menu" data-align="tr-br">
                    <ul>
                        <li><a href="https://www.dainst.org/de/forschung/forschung-digital" target="_blank">iDAI.welt</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="https://zenon.dainst.org" target="_blank">iDAI.bibliography&nbsp;/&nbsp;Zenon</a>
                        </li>
                        <li><a href="http://chronontology.dainst.org/" target="_blank">iDAI.chronontology</a></li>
                        <li><a href="https://gazetteer.dainst.org/" target="_blank">iDAI.gazetteer</a></li>
                        <li><a href="http://geoserver.dainst.org/" target="_blank">iDAI.geoserver</a></li>
                        <li><a href="https://arachne.dainst.org/" target="_blank">iDAI.objects&nbsp;/&nbsp;Arachne</a>
                        </li>
                        <li><a href="https://publications.dainst.org" target="_blank">iDAI.publications</a></li>
                        <li><a href="http://thesauri.dainst.org" target="_blank">iDAI.thesaurus</a></li>
                        <li><a href="http://archwort.dainst.org/thesaurus/de/vocab" target="_blank">iDAI.vocab&nbsp;/&nbsp;Archwort</a>
                        </li>
                        <li><a href="http://hellespont.dainst.org/startpage/" target="_blank">Hellespont</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
