<div class="btn-group btn-group-sm">
    {{^loggedIn}}
        <span class="d-none d-md-inline"><a class="login-link nav-link" href="{{{siteurl}}}/login/index.php">   {{# str }} login-link, theme_nfdai {{/ str }}</a></span>
        <span class="d-none d-md-inline"><a class="login-link nav-link" href="{{{siteurl}}}/login/signup.php">  {{# str }} register-link, theme_nfdai {{/ str }}</a></span>
    {{/loggedIn}}
</div>
