<div class="rounded in-nav">
    <form action="{{{siteurl}}}/course/search.php" id="daicoursesearch" method="get" class="form-inline navbar-form nav-link">
        <div class="searchContainer">
            <input class="searchBox" type="search" name="search" placeholder="{{# str }}searchcourses, core{{/ str }}">
            <button type="submit" data-nav="search" class="searchButton"><i class="fa fa-search searchIcon"></i></button>
        </div>
    </form>
</div>


