{{#hasfpslideshow}}
<div id="carousel" class="carousel slide d-none d-sm-block" data-ride="carousel">
  <ol class="carousel-indicators">
    {{#hasslide1}}<li data-target="#carousel" data-slide-to="0" class="active"></li>{{/hasslide1}}
    {{#hasslide2}}<li data-target="#carousel" data-slide-to="1"></li>{{/hasslide2}}
    {{#hasslide3}}<li data-target="#carousel" data-slide-to="2"></li>{{/hasslide3}}
	{{#hasslide4}}<li data-target="#carousel" data-slide-to="3"></li>{{/hasslide4}}
  </ol>

<div class="carousel-inner" role="listbox">
    {{#hasslide1}}
    <div class="carousel-item active">
      <div class="slide1image"></div>
      {{#showtext1}}
      {{#slide1}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide1}}
      {{/showtext1}}
    </div>
    {{/hasslide1}}
    
    {{#hasslide2}}
    <div class="carousel-item">
      <div class="slide2image"></div>
      {{#showtext2}}
      {{#slide2}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide2}}
      {{/showtext2}}
    </div>
    {{/hasslide2}}

    {{#hasslide3}}
    <div class="carousel-item">
      <div class="slide3image"></div>
      {{#showtext3}}
      {{#slide3}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide3}}
      {{/showtext3}}
    </div>
    {{/hasslide3}}
	
	  {{#hasslide4}}
    <div class="carousel-item">
      <div class="slide4image"></div>
      {{#showtext4}}
      {{#slide4}}
      <div class="carousel-caption d-none d-sm-block">
        <h3>{{{slidetitle}}}</h3>
        <p>{{{slidecontent}}}</p>
      </div>
      {{/slide4}}
      {{/showtext4}}
    </div>
    {{/hasslide4}}

</div>
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <i class="fa fa-angle-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
</div>

{{/hasfpslideshow}}